<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.ArticleMapper">
    <insert id="addArticle" parameterType="ArticleInfo">
        insert into articleinfo (title, content,createtime,userid)
        values(#{title},#{content},#{createtime},#{userid})
    </insert>
    <select id="getAllArticles" resultType="map">
        select articleinfo.viewcount, userinfo.avatar,articleinfo.id,articleinfo.title,articleinfo.createtime,userinfo.username from articleinfo
join userinfo on userinfo.id = articleinfo.userid
order by articleinfo.createtime desc
    </select>

    <select id="getArticleById" parameterType="int" resultType="map">
        select articleinfo.viewcount,articleinfo.id,articleinfo.title,articleinfo.createtime
        ,articleinfo.content,userinfo.username from articleinfo
        join userinfo on userinfo.id = articleinfo.userid
         where articleinfo.id = #{value}
    </select>

    <update id="increaseViewCount" parameterType="int">
        update articleinfo set viewcount = viewcount+1 where id = #{value}
    </update>
</mapper>