/*所有页面的自定义css*/
.app-header{
    background-color: #fff;
    border-bottom: 1px solid black;
    height: 58px;
    position: fixed;
    width: 100%;
    z-index: 999;
    top:0px;
}

.app-navbar{
    background-color: #fff;
    border: 0;
}

.app-header .uk-navbar-nav a{
    height: 58px;
    line-height: 58px;
    font-size: 16px;

}

.app-header .uk-navbar-brand, .app-header .uk-navbar-content
{
    height: 58px;
}

.app-height-65{
    height: 65px;
}

.app-height-58{
    height: 58px;
}


.app-cate{
    background-color: #fff;
    border: 0;
}

.app-cate li{
    margin-right: 10px;
}

.app-all-tag{
    right:0;
}


.app-cover{
    background-color: #f2f2f2;
}

.app-20{
    height: 20px;
}

.app-35{
    height: 35px;
}
.app-blog-item{

    border-bottom: 1px solid rgba(178,186,194,.15);
    padding: 20px;
    font-size: 12px;

}
.app-blog-item .title{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}
.app-blog-item .topic-cate{
    background-color: #00a8c6;
    padding: 2px 10px ;
    color: white;
    font-size: 12px;
    margin-right: 6px;
}
.b100{
    height: 100px;
}